
/* CurrentUser周り */
.CurrentUser {
  /* 横に並べる */
  display: flex;
  padding: 1em 1em;
  margin: 2em 2em;
  color: #2c2c2f;
  background: #cde4ff;
  font-size: 12px;
  font-family:  "serif";
}



/* 名前のプルダウン */
.SelectName {
  width:80px;
  height:20px;
}

/* 以下AddPost */
/* AddPost周り，.PostButtonの親要素 */
.AddPost {
  padding: 1em 1em;
  margin: 2em 2em;
  color: #2c2c2f;
  background: #eeeeee;/*背景色*/
  font-size: 12px;
  font-family:  "serif";
  display: flex;
  position: relative;
}

/* 以下PostInput */
/* form周り */
.Postform {
  width: 800px;
  height: 12em;
  margin: 0;
  padding: 0;
}

/* 投稿ボタン */
.PostButton {
  padding: 15px 40px;
  font-size: 1.2em;
  /* 背景色 */
  background-color: #ccccba;
  /* 字の色 */
  color: #fff;
  border-style: none;
  position: absolute;
  bottom: 20px;
  right: 30px;
}



/* 以下PostItem */
/* liの点消す */
.PostList {
  list-style: none;
}

/* 画像の大きさ揃える */
.imageAlign {
  width: 96px;
  height: 96px;
}

/* 拍手の画像の大きさ */
.imageAppluase {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
}

/* PostItem全体 */
.PostItem {
  padding: 1em 1em;
  margin: 2em 2em;
  color: #2c2c2f;
  background: #eeeeee;/*背景色*/
  font-size: 12px;
  font-family:  "serif";
}

/* PostItemのfooter，.ApplauseNumber，.imageAppluase，.PostDateの親要素 */
.PostItemFooter {
  display: flex;
  position: relative;
}

/* 拍手数 */
.ApplauseNumber {
  position: absolute;
  bottom: 0;
  left:35px;
}

/* Postの日 */
.PostDate {
  position: absolute;
  bottom: 0;
  right: 30px;
}
